@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #f3f4f6;
  --color-card: #1e1e1e;
  --color-card-foreground: #f3f4f6;
  --color-popover: #1e1e1e;
  --color-popover-foreground: #f3f4f6;
  --color-primary: #D90429;
  --color-primary-foreground: #ffffff;
  --color-secondary: #27272a;
  --color-secondary-foreground: #f3f4f6;
  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;
  --color-accent: #D90429;
  --color-accent-foreground: #ffffff;
  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #f3f4f6;
  --color-border: #3f3f46;
  --color-input: #3f3f46;
  --color-ring: #D90429;
  --radius: 0rem;
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
